
/* .form-login input[type=text], .form-login input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.form-login input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .5s all;
}
input[type=submit]:hover {
    background-color: #45a049;
}
.title-input{
    margin-left: 1%;
}
.form-login input[type=submit]:hover{
    transform: rotate(1turn) scale(1.4);

} */
.wrapper{
    height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,57,121,0.2819327560125613) 49%, rgba(0,212,255,1) 100%); 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-register{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: center;
}
.form-register .form-input{
    outline:none;
}

.form-register .form-input:focus{
    background-color: rgb(0, 0, 0);
    color: #fff;
}
.form-register input[type=submit] {
    flex: 0 1 auto;
    align-self: auto;
    background-color: #000000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    transition: .5s all;
    
}
.form-register input[type=submit]:hover {
    background-color: white;
    color: #000;
}

.form-field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* --------------------main page------------------- */

.title-in-section{
    color: #c1c7f1;
    text-align: center;
}
.desc-text{
    text-align: center;
}
.advantages-list{
    display: flex;
    justify-content: space-around;
}
.card.advantages-list-item{
    border: none;
    padding: 10px;
}
.advantages-list .card-text{
    text-align: center;
}
.advantages-list .card-title{
    text-align: center;
}

/* ------------------presentation------------- */

.main--presentation .presentation-text{
    font-weight: 700;
    text-align: justify;
}
.main--gallery{
    margin-left: 0;
    margin-right: 0;
}
/* -------------------product list--------------- */
.main--product-list{
    float: left;
    margin-left: 2rem;
    margin-top: 1rem;
}
.main--product-list .product-list-item{
    float: left;
    margin-left: 2rem;
    margin-top: 1rem;
}

@media (max-width: 575.98px) {
    .main--product-list .product-list-item{
        margin-left: 0rem;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .main--product-list .product-list-item{
        margin-left: 3rem;
    }
}
@media (min-width: 1440px) {
    .main--product-list {
        float: none;
        margin: 0 auto;
    }
}
/* ----------------product page------------------ */

.left-column {
    flex: 0 1 auto;
    width: 60%;
}
   
.right-column {
    flex: 0 1 auto;
    width: auto;
    padding: 20px 25px;
    border-radius: 40px;
    box-shadow: -1px 9px 43px -6px rgba(34, 60, 80, 0.2);

}
.main--product-page {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main--product-page .cart-btn{
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    background: #CD0074;
    border-radius: 18px;
    border: 1px solid #CD0074;
    transition: .4s all ease-out;


}
.main--product-page .cart-btn:hover{
    color: #CD0074;
    background: #fff;
    border: 1px solid #CD0074;
}
.main--product-page .product-price-block .product-price-value{
    display: block;
    font-size: x-large;
    margin-bottom: 15px;
}
@media (max-width: 991.98px) {
    .main--product-page {
        flex-direction: column;
    }
    .left-column {
        width: auto;
    }
       
    .right-column {
        width: auto;
    }
}
@media (max-width: 575.98px) {
    .left-column img {
        max-width: 365px;    }
}
@media (max-width: 1440px) {
    .right-column {
        width: 40%;
    }
}

/* -------------------------cart------------------------- */


/* 
.product {
border: 1px solid #eee;
margin: 20px 0;
width: 100%;
height: 195px;
position: relative;

-webkit-transition: margin .2s linear, opacity .2s linear;
-moz-transition: margin .2s linear, opacity .2s linear;
-ms-transition: margin .2s linear, opacity .2s linear;
-o-transition: margin .2s linear, opacity .2s linear;
transition: margin .2s linear, opacity .2s linear;
}

.product img {
width: 100%;
height: 100%;
}

.product header, .product .content {
background-color: #fff;
border: 1px solid #ccc;
border-style: none none solid none;
float: left;
}

.product header {
background: #000;
margin: 0 1% 20px 0;
overflow: hidden;
padding: 0;
position: relative;
width: 24%;
height: 195px;
}

.product header:hover img {
opacity: .7;
}

.product header:hover h3 {
bottom: 73px;
}

.product header h3 {
background: #53b5aa;
color: #fff;
font-size: 22px;
font-weight: 300;
line-height: 49px;
margin: 0;
padding: 0 30px;
position: absolute;
bottom: -50px;
right: 0;
left: 0;

-webkit-transition: bottom .2s linear;
-moz-transition: bottom .2s linear;
-ms-transition: bottom .2s linear;
-o-transition: bottom .2s linear;
transition: bottom .2s linear;
}

.remove {
cursor: pointer;
}

.product .content {
box-sizing: border-box;
-moz-box-sizing: border-box;
height: 140px;
padding: 0 20px;
width: 75%;
}

.product h1 {
color: #7109AA;
font-size: 25px;
font-weight: 300;
margin: 17px 0 20px 0;
}

.product .content {
height: 50px;
margin: 6px 0 0 0;
padding: 0;
}

.product .price {
background: #fcfcfc;
color: #000;
float: right;
font-size: 15px;
font-weight: 300;
line-height: 49px;
margin: 0;
padding: 0 30px;
}

.product .full-price {
background: #7109AA;
color: #fff;
float: right;
font-size: 22px;
font-weight: 300;
line-height: 49px;
margin: 0;
padding: 0 30px;

-webkit-transition: margin .15s linear;
-moz-transition: margin .15s linear;
-ms-transition: margin .15s linear;
-o-transition: margin .15s linear;
transition: margin .15s linear;
}

.qt, .qt-plus, .qt-minus {
display: block;
float: left;
}

.qt {
font-size: 19px;
line-height: 50px;
width: 70px;
text-align: center;
}

.qt-plus, .qt-minus {
background: #fcfcfc;
border: none;
font-size: 30px;
font-weight: 300;
padding: 0 20px;
transition: background .2s linear;
}

.qt-plus:hover, .qt-minus:hover {
background: #7109AA;
color: #fff;
cursor: pointer;
}

.qt-plus {
line-height: 50px;
}

.qt-minus {
line-height: 47px;
}

#site-footer {
margin: 30px 0 0 0;
}

#site-footer {
padding: 40px;
}

#site-footer h1 {
background: #fcfcfc;
border: 1px solid #ccc;
border-style: none none solid none;
font-size: 24px;
font-weight: 300;
margin: 0 0 7px 0;
padding: 14px 40px;
text-align: center;
}

#site-footer h2 {
font-size: 24px;
font-weight: 300;
margin: 10px 0 0 0;
}

#site-footer h3 {
font-size: 19px;
font-weight: 300;
margin: 15px 0;
}

.left {
float: left;
}

.right {
float: right;
}

.btn {
background: #53b5aa;
border: 1px solid #999;
border-style: none none solid none;
cursor: pointer;
display: block;
color: #fff;
font-size: 20px;
font-weight: 300;
padding: 16px 0;
width: 290px;
text-align: center;

-webkit-transition: all .2s linear;
-moz-transition: all .2s linear;
-ms-transition: all .2s linear;
-o-transition: all .2s linear;
transition: all .2s linear;
}

.btn:hover {
color: #fff;
background: #429188;
}

.type {
background: #fcfcfc;
font-size: 13px;
padding: 10px 16px;
left: 100%;
}

.type, .color {
border: 1px solid #ccc;
border-style: none none solid none;
position: absolute;
}

.color {
width: 40px;
height: 40px;
right: -40px;
}

.red {
background: #cb5a5e;
}

.yellow {
background: #f1c40f;
}

.blue {
background: #3598dc;
}

.minused {
margin: 0 50px 0 0 !important;
}

.added {
margin: 0 -50px 0 0 !important;
} */
.main--cart .product{
    display: flex;
    margin-top: 14px;
}
.main--cart img{
    max-width: 300px;
}
.main--cart .product-description {
    margin-left: 1rem;
}